/*Generales*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: effra, sans-serif;
  background-color: #f7f7f7;
  height: max-content;
  box-sizing: border-box;
}

/*Contenedores principales*/

.masterContainer {
  display: grid;
  grid-template-rows: 110px 1fr 1fr 1fr 150px max-content;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "nav nav"
    "bienvenida bienvenida"
    "resaltador01 resaltador01"
    "resaltador02 resaltador02"
    "barraContacto barraContacto"
    "footer footer";
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
}

/*Barra superior*/

.topbarContainer {
  width: 100vw;
  background-color: #f7f7f7;
  display: grid;
  grid-area: nav;
  grid-template-columns: max-content max-content;
  position: fixed;
  z-index: 100;
  align-content: center;
  justify-content: center;
}

.site-id {
  grid-column-start: 1;
  display: flex;
  grid-column-end: 2;
  padding: 0px 0px 0px 50px;
  flex-direction: row;
  width: max-content;
}

.nav {
  display: flex;
  grid-column-start: 2;
  align-items: center;
  margin-left: 130px;
}

.listNav {
  display: flex;
}

.listNavItem {
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}

.logoSiete {
  width: 100px;
}

/*Mensaje de bienvenida*/

.containerInterno {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
}

.containerInterno01 {
  grid-area: bienvenida;
  margin: 80px 0px 120px;
}

.textoBienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px 0px 60px;
}

.titulo01 {
  width: 350px;
}

.videoBienvenida {
  width: 500px;
}

.videoContenedor {
  display: flex;
  height: max-content;
  align-self: center;
  justify-self: center;
}

/*Resaltador de la marca 01*/

.containerInterno02 {
  grid-area: resaltador01;
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}

/*Resaltador de la marca 02*/

.containerInterno03 {
  grid-area: resaltador02;
}

/*Footer*/

.barraContactoConteiner {
  grid-area: barraContacto;
  background-color: #ecc042;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.logoBarraContactoContenedor {
  display: flex;
  align-self: baseline;
  margin-right: 20px;
  align-content: flex-start;
  justify-content: flex-end;
}

.textoBarraContacto {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  align-content: baseline;
  justify-content: flex-start;
}

.logoBarraContacto {
  width: 120px;
}

.parrafo02 {
  margin-bottom: 20px;
}

.cta02:link {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

.cta02:visited {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}
.cta02:hover {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

.footerContainer {
  grid-area: footer;
  background-color: #060606;
  color: #f7f7f7;
  display: grid;
  width: 100vw;
  justify-content: center;
}

.socialMediaEnlaces {
  display: flex;
  flex-direction: row;
  max-width: max-content;
  margin: 20px 0px 0px 0px;
}

a.redsocial {
  color: #b3b3b3 !important;
  text-decoration: underline;
  padding: 0px 40px;
  font-weight: 100;
}

.parrafo03 {
  color: #b3b3b3 !important;
}

.mexico {
  color: #b3b3b3 !important;
  font-weight: 100;
  font-size: 16pt;
}

.conclusion {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 40px;
  width: max-content;
}

/*Tags*/
ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding-left: 80px;
}

a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

a:link {
  color: #060606;
}

a:visited {
  color: #676767;
}

video {
  border-radius: 20px;
}

/*Estilismos generales*/

.titulo {
  font-weight: 400;
  font-size: 24pt;
  max-width: 386px;
}

.parrafo {
  font-weight: 100;
  font-size: 12pt;
  max-width: 386px;
}

.illustracion {
  width: 440px;
}

.illustracionResultados {
  width: 340px;
}

.cta:link {
  background-color: #060606;
  color: white;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 130px;
  font-weight: 100;
}

.cta:visited {
  background-color: #060606;
  color: white;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-weight: 100;
}

.cta:hover {
  background-color: #4b4b4b;
  color: #f7f7f7;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-weight: 100;
}

/*Pagina: Nuestro trabajo*/

.masterContainerNuestroTrabajo {
  display: grid;
  grid-template-rows: 110px 400px max-content 150px 150px;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "nav nav"
    "titulosTrabajos titulosTrabajos"
    "listaVideos listaVideos"
    "barraContacto barraContacto"
    "footer footer";
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
}

.containerInterno04 {
  grid-area: titulosTrabajos;
}

.listaDeVideos {
  grid-area: listaVideos;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  justify-content: center;
}

/*Pagina: Resultados*/

.masterContainerResultados {
  display: grid;
  grid-template-rows: 110px 400px max-content max-content 150px max-content;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "nav nav"
    "titulosResultados titulosResultados"
    "casoExito01 casoExito01"
    "casoExito02 casoExito02 "
    "barraContacto barraContacto"
    "footer footer";
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
}

.containerInterno05 {
  grid-area: titulosResultados;
}

.casoDeExitoContenedor {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  grid-gap: 20px;
}

.casoDeExitoContenedor01 {
  grid-area: casoExito01;
}

.casoDeExitoContenedor02 {
  grid-area: casoExito02;
}

.titulo02 {
  margin-bottom: 20px;
}

.parrafo05 {
  margin-bottom: 20px;
}

/*Pagina: Quienes somos*/

.masterContainerQuienesSomos {
  display: grid;
  grid-template-rows: 110px 100vh 150px max-content;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "nav nav"
    "quienesSomos quienesSomos"
    "barraContacto barraContacto"
    "footer footer";
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
}

.containerInterno06 {
  grid-area: quienesSomos;
}

.fotoTeam {
  width: 400px;
  height: 600px;
}

/*Pagina: Contacto*/

.masterContainerContacto {
  display: grid;
  grid-template-rows: 110px 100vh max-content;
  grid-template-columns: max-content;
  grid-template-areas:
    "nav"
    "formulario"
    "footer";
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
}

/*Pagina: Formulario*/

.formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

/*-----------------------------Media queries----------------------------*/

@media all and (max-width: 955px) {
  .masterContainer {
    display: grid;
    grid-template-rows: 94px 575px 575px 575px 150px 185px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "bienvenida"
      "resaltador01"
      "resaltador02"
      "barraContacto"
      "footer";
  }

  .masterContainerNuestroTrabajo {
    display: grid;
    grid-template-rows: 100px 500px max-content max-content max-content;
    grid-template-columns: max-content;
    grid-template-areas:
      "nav"
      "titulosTrabajos"
      "listaVideos"
      "barraContacto"
      "footer";
    grid-gap: 0px 40px;
    align-content: center;
    justify-content: center;
  }

  .masterContainerResultados {
    display: grid;
    grid-template-rows: 110px 515px max-content max-content 138px 140px;
    grid-template-columns: max-content;
    grid-template-areas:
      "nav"
      "titulosResultados"
      "casoExito01"
      "casoExito02 "
      "barraContacto"
      "footer";
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
  }

  .casoDeExitoContenedor {
    grid-template-columns: max-content;
    justify-items: center;
  }

  .videoBienvenida {
    order: -1;
  }

  .topbarContainer {
    grid-template-columns: max-content 1fr;
  }

  #siteid {
    padding: 0px 0px 0px 0px;
  }

  .nav {
    margin-left: 0px;
  }

  .textoBienvenida {
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  p {
    text-align: center;
  }

  .listaDeVideos {
    grid-template-columns: max-content;
    margin: 80px 0px 88px 0px;
  }

  iframe {
    width: 680px;
  }

  .containerInterno {
    grid-template-columns: max-content;
  }

  .masterContainerQuienesSomos {
    grid-template-rows: 110px 140vh 150px max-content;
  }
}

@media all and (max-width: 600px) {
  .masterContainer {
    display: grid;
    grid-template-rows: 94px 575px 575px 575px 150px 185px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "bienvenida"
      "resaltador01"
      "resaltador02"
      "barraContacto"
      "footer";
  }

  .topbarContainer {
    grid-template-columns: max-content 1fr;
  }

  #siteid {
    padding: 0px 0px 0px 0px;
  }

  .nav {
    margin-left: 0px;
  }

  .logoSiete {
    width: 70px;
  }

  .listNav {
    align-items: center;
  }

  .listNavItem {
    margin: 0px 15px 0px 15px;
  }

  .textoBienvenida {
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  .videoBienvenida {
    width: 355px;
  }

  .videoBienvenida01 {
    width: 355px;
  }

  p {
    text-align: center;
  }

  a {
    font-size: 12px;
  }

  .illustracion {
    width: 320px;
  }

  .footerContainer {
    justify-items: center;
  }

  .logoBarraContacto {
    width: 85px;
  }

  .textoBarraContacto {
    padding: 0px 0px 15px 0px;
  }

  .t02 {
    font-size: 16pt;
  }

  .conclusion {
    display: flex;
    padding: 0px 0px 0px 0px;
    width: max-content;
    padding: 15px 0px 15px 0px;
  }

  iframe {
    width: 400px;
  }

  .mexico {
    font-size: 14pt;
  }

  .parrafo03 {
    font-size: 10pt;
  }
}
